<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lesson 9</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Lesson 9 Vue.js</h1>
            <table class="table">
              <tr>
                <th width="150">Category</th>
                <th>Note</th>
                <th width="50">&nbsp;</th>
              </tr>
              <tr
                is="note-row"
                v-for="note in notes"
                :note.sync="note"
                :categories="categories">
              </tr>
              <tr>
                <td>
                  <select-category :categories="categories" :id.sync="new_note.category_id"></select-category>
                </td>
                <td><input type="text" class="form-control" v-model="new_note.text"></td>
                <td>
                  <a href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" @click.prevent="create()"></span>
                  </a>
                </td>
              </tr>
            </table>
            <pre class="well">
              {{ $data | json }}
            </pre>
        </div>
      </div>
    </div>

    <!-- Templates -->
    <template id="tmpl-select-category">
      <select class="form-control" v-model="id">
        <option 
          v-for="category in categories" 
          value="{{ category.id }}">
          {{ category.name }}
        </option>
      </select>
    </template>

    <template id="tmpl-note-row">
      <tr>
        <template v-if="! editing">
          <td>{{ note.category_id | category }}</td>
          <td>{{ note.text }}</td>
          <td>
            <a href="#">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" @click.prevent="edit()"></span>
            </a>
            <a href="#">
              <span class="glyphicon glyphicon-trash" aria-hidden="true" @click.prevent="remove()"></span>
            </a>
          </td>
        </template>
        <template v-else>
          <td>
            <select-category :categories="categories" :id.sync="note.category_id"></select-category>
            
          </td>
          <td><input type="text" class="form-control" v-model="note.text"></td>
          <td><a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true" @click.prevent="update()"></span></a></td>
        </template>
      </tr>
    </template>
    
    <script src="../js/vue.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>