
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Curso de VueJS</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>

      <div class="col-md-8 col-md-offset-2">

        <template v-if="name">
          <welcome-msg :name="name" :gender="gender"></welcome-msg>
          
          <p>Espero que disfrutes tu visita</p>
          <p>Tu nombre al reves es: {{ name.split('').reverse().join('') }}</p>
        </template>
        <p v-else>Por favor escribe tu nombre:</p>
        
        <form v-on:submit.prevent="singUp(false)">
        <label for="name">Nombre</label>
        <input type="text" v-model="name" name="name" class="form-control">

        <div class="form-group">
          <label>Selecciona tu genero</label>
          <select v-model="gender" class="form-control">
            <option value="m">Masculino</option>
            <option value="f">Femenino</option>
          </select>
        </div>
        
        <template v-for="tech in techs">
          <years-exp :years.sync="tech.years" :tech="tech.name"></years-exp>
        </template>
        
        <hr>
        <p v-show="name">
          <button type="submit" class="btn btn-primary">Registrate</button>
          <button type="button" v-on:click.prevent="singUp(true)" class="btn btn-primary">Registrate y sal del sistema</button>
        </p>
        
        <hr>

        </form>

        <p v-if="name == ''" class="alert alert-danger">
          Este campo es obligatorio
        </p>

        <pre class="well">
          {{ $data | json }}
        </pre>
      </div>

      <script type="text/template" id="welcome_template">
        <h1>{{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}</h1>
      </script>

      <template id="years_template">
        <p>¿Cuantos años de experiencia tienes con {{ tech }}?</p>
        <p>
          Respuesta: {{ years }}
          <button type="button"
             class="btn btn-success"
             @click="add()">+</button>

          <button type="button" class="btn btn-danger" 
              @click="sub()" 
              :disabled="years == 0">-</button>
        </p>
      </template>

      <script src="js/vue.js"></script>
      <script>

        Vue.component('hello-world', {
          template: '<h2>Hello World!</h2>'
        });

        Vue.component('welcome-msg', {
          template: '#welcome_template',
          props: {
            gender: {
              type: String,
              required: false,
              default: 'm'
            },
            name: {
              type: String,
              required: true
            }
          },
        });

        Vue.component('years-exp', {
          template: '#years_template',
          methods: {
            add: function () {
              this.years ++;
            },
            sub: function () {
              if (this.years > 0) {
                this.years --;
              }
            },
          },
          props: ['years', 'tech']
        })

        new Vue({
          el: 'body',
          data: {
            name: '',
            gender: 'm',
            techs: [
              {name: 'PHP', years: 0},
              {name: 'JS', years: 0},
              {name: 'HTML', years: 0},
              {name: 'CSS', years: 0},
              {name: 'MySQL', years: 0},
            ]
          },
          methods: {
            singUp: function (logout) {
              console.log('OK');
              if (logout) {
                console.log('Saliendo del sistema...')
              }
            }
          }
        });
      </script>
    </body>
</html>