
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Curso de VueJS</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>

      <template v-if="name">
        <h1>{{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}</h1>
        <p>Espero que disfrutes tu visita</p>
        <p>Tu nombre al reves es: {{ name.split('').reverse().join('') }}</p>
      </template>
      <p v-else>Por favor escribe tu nombre:</p>
      
      <label for="name">Nombre</label>
      <input type="text" v-model="name" name="name" class="form-control">

      <div class="form-group">
        <label>Selecciona tu genero</label>
        <select v-model="gender" class="form-control">
          <option value="m">Masculino</option>
          <option value="f">Femenino</option>
        </select>
      </div>

      <p v-if="name == ''" class="alert alert-danger">
        Este campo es obligatorio
      </p>
      <p v-if="name.length < 2" class="alert alert-danger">
        El nombre no es valido
      </p>

      <pre class="well">
        {{ $data | json }}
      </pre>

      <script src="js/vue.js"></script>
      <script>
        new Vue({
          el: 'body',
          data: {
            name: '',
            gender: 'm'
          }
        });
      </script>
    </body>
</html>