
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Curso de VueJS</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>

      <div class="col-md-8 col-md-offset-2">

        <template v-if="name">
          <h1>{{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}</h1>
          <p>Espero que disfrutes tu visita</p>
          <p>Tu nombre al reves es: {{ name.split('').reverse().join('') }}</p>
        </template>
        <p v-else>Por favor escribe tu nombre:</p>
        
        <form v-on:submit.prevent="singUp(false)">
        <label for="name">Nombre</label>
        <input type="text" v-model="name" name="name" class="form-control">

        <div class="form-group">
          <label>Selecciona tu genero</label>
          <select v-model="gender" class="form-control">
            <option value="m">Masculino</option>
            <option value="f">Femenino</option>
          </select>
        </div>

        <p>¿Cuantos años de experiencia tienes con PHP?</p>
        <p>
          Respuesta: {{ years_php }}
          <button type="button" class="btn btn-success" v-on:click="years_php ++">+</button>
          <button type="button" class="btn btn-danger" v-on:click="years_php --">-</button>
        </p>
        
        <hr>
        <p v-show="name">
          <button type="submit" class="btn btn-primary">Registrate</button>
          <button type="button" v-on:click.prevent="singUp(true)" class="btn btn-primary">Registrate y sal del sistema</button>
        </p>
        
        <hr>

        </form>

        <p v-if="name == ''" class="alert alert-danger">
          Este campo es obligatorio
        </p>

        <pre class="well">
          {{ $data | json }}
        </pre>
      </div>

      <script src="js/vue.js"></script>
      <script>
        new Vue({
          el: 'body',
          data: {
            name: '',
            gender: 'm',
            years_php: 0
          },
          methods: {
            singUp: function (logout) {
              console.log('OK');
              if (logout) {
                console.log('Saliendo del sistema...')
              }
            }
          }
        });
      </script>
    </body>
</html>