<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vue.js</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet">

        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app" class="container">
            <h2>Tareas</h2>

            <ul class="list-group tasks">
                <li v-for="task in tasks" class="list-group-item"
                	:class="{editing: task.editing, completed: !task.pending}">
                    <a @click="toogleStatus(task)">
                    	<span class="glyphicon" aria-hidden="true"
                    		  :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check'">
                    	</span>
                    </a>
					
					<template v-if="!task.editing">
						<span  class="description">{{ task.description }}</span>

						<div>
	                        <a @click="editTask(task)">
	                            <span class="glyphicon glyphicon-edit"
	                                  aria-hidden="true"></span>
	                        </a>
	                        <a href="#">
	                            <span class="glyphicon glyphicon-trash"
	                                  aria-hidden="true"></span>
	                        </a>
	                    </div>  
					</template>
                    
                    <template v-else>
                    	<input type="text" v-model="draf">

                    	<div>                
	                        <a @click="updateTask(task)">
	                            <span class="glyphicon glyphicon-ok"
	                                  aria-hidden="true"></span>
	                        </a>
	                        <a @click="cancelTask(task)">
	                            <span class="glyphicon glyphicon-remove"
	                                  aria-hidden="true"></span>
	                        </a>
	                    </div>
                    </template>                       
                </li>
                <!--
                <li class="list-group-item editing">
                    <a href="#"><span 
                        class="glyphicon glyphicon-unchecked"
                        aria-hidden="true"></span></a>

                    <input type="text" value="Suscribirse en Styde">

                    
                </li>
                <li class="list-group-item completed">
                    <a href="#"><span class="glyphicon glyphicon-check"
                                      aria-hidden="true"></span></a>

                    <span class="description">Crear una API</span>

                    <div>
                        <a href="#">
                            <span class="glyphicon glyphicon-edit"
                                  aria-hidden="true"></span>
                        </a>
                        <a href="#">
                            <span class="glyphicon glyphicon-trash"
                                  aria-hidden="true"></span>
                        </a>
                    </div>   
                </li>
            	-->
            </ul>

            <form @submit.prevent="createTask" class="new-task-form">
                <input v-model="newTask" type="text" class="form-control">
                <button class="btn btn-primary">Crear tarea</button>
            </form>

        </div>

        <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>

        <script>
            var vm = new Vue({
                el: '#app',
                methods: {
                	createTask: function () {
                		this.tasks.push({
                			description: this.newTask,
                			pending: true,
                			editing: false
                		});

                		this.newTask = '';
                	},
                    editTask: function (task) {
                        this.tasks.forEach(function (task_item) {
                            task_item.editing = false;
                        });

                        this.draf = task.description;

                        task.editing = true;
                    },
                    updateTask: function (task) {
                        task.description = this.draf;

                        task.editing = false;
                    },
                    cancelTask: function (task) {
                        task.editing = false;
                    },
                    toogleStatus: function (task) {
                        task.pending = !task.pending;
                    },
                },
                data: {
                    draf: '',
                	newTask: '',
                	tasks: [
                		{
                			description: 'Aprender Vue.js',
                			pending: true,
                			editing: false
                		},
                		{
                			description: 'Crear una API',
                			pending: true,
                			editing: false
                		},
                		{
                			description: 'Crear tarea',
                			pending: false,
                			editing: false
                		},
                	]
                }
            });
        </script>
  </body>
</html>