<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vue.js</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet">

        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app" class="container">
            <h2>Tareas</h2>

            <ul class="list-group tasks">
                <li is="app-task" v-for="(task, index) in tasks"
                :tasks="tasks" :task="task" :index="index" @remove="deleteTask"></li>
            </ul>

            <p><a @click="deleteCompleted" class="btn btn-primary">Eliminar tareas completadas</a></p>

            <form @submit.prevent="createTask" class="new-task-form">
                <input v-model="newTask" type="text" class="form-control">
                <button class="btn btn-primary">Crear tarea</button>
            </form>

        </div>

        <template id="task_template">
            <li class="list-group-item"
                    :class="{editing: editing, completed: !task.pending}">
                    <a @click="toogleStatus">
                        <app-icon :img="task.pending ? 'unchecked' : 'check'"></app-icon>
                    </a>
                    
                    <template v-if="!editing">
                        <span  class="description">{{ task.description }}</span>

                        <div>
                            <a @click="edit">
                                <app-icon img="edit"></app-icon>
                            </a>
                            <a @click="remove">
                                <app-icon img="trash"></app-icon>
                            </a>
                        </div>  
                    </template>
                    
                    <template v-else>
                        <input type="text" v-model="draf">

                        <div>                
                            <a @click="update">
                                <app-icon img="ok"></app-icon>
                            </a>
                            <a @click="cancel">
                                <app-icon img="remove"></app-icon>
                            </a>
                        </div>
                    </template>                       
                </li>
        </template>

        <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
        <script src="app.js"></script>
        
  </body>
</html>